.idea/

.gitignore
.nojekyll
.npmignore
.npmrc
.travis.yml
package-lock.json
README.md
todo.txt
tsconfig.json
yarn.lock

coverage/
dev/
dist/constants
dist/exports/
dist/interfaces/
dist/src
dist/exports.d.ts
dist/exports.js
dist/exports.js.map
docs/