* {
  font-family: $font-lato;
  font-weight:$font-weight-medium;
}
.fret {
  display: inline-block;
  letter-spacing: -0.1em;
  padding: 10px;
  width: 30px;
  @include unselectable;
  &.fret-selected{
    color:green;
  }
  &.fret-root{
    color:red;
  }
}