//core
//-----------------------------
$color-light-blue: #003DA5;
$color-red: #B70101;
$color-gold: #E7D9C1;
$color-white: #fefefe;
$color-red: #FF0000;


//notes
//-----------------------------
$color-note-0: pink;
$color-note-1: orangered;
$color-note-2: orange;
$color-note-3: yellow;
$color-note-4: greenyellow;
$color-note-5: lightgreen;
$color-note-6: green;
$color-note-7: lightblue;
$color-note-8: teal;
$color-note-9: blueviolet;
$color-note-10: mediumpurple;
$color-note-11: fuchsia;