@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic);

$font-open-sans-condensed: 'Open Sans Condensed', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-heavy: 700;